body {
    padding: 0;
    margin: 0;
}
.addElement {
    /* background: #272F3D; */
    background: #ffffff;
    border: solid 2px #FF4F12;
    border: solid 2px #363231;

    /* color: cornsilk; */
    min-height: 600px;
    max-height: 600px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
/* .rightBlock {
    position: absolute;
    right:7px;
} */
.leftBlock {
    width: 75%;
    display: flex;
    background: inherit;
    border: solid 2px #dacfce;
    border: solid 2px #363231;
    /* border: solid 2px #FF4F12; */
    /* color: cornsilk; */
    min-height: 600px;
    max-height: 600px;
    /* padding-left: 10px; */
    padding: 0;
    margin: 0;
/*     
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px; */


}
.rightBlock {
    width: 24%;
    background: inherit;
    border: solid 2px #dacfce;
    /* color: cornsilk; */
    min-height: 600px;
    max-height: 600px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 10px; */
    padding: 0;
    margin: 0;
}
.miniHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 50px;
    background: #272F3D;


}
.elem {
    width: 100%;
    /* max-height: 75px; */
    border: solid 2px #dacfce;
    cursor:pointer;
    margin: 0;
    margin-bottom: -10px;
    padding: 0;
}

.accordion {
    background-color: #eee;
    color: #444;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

.primary1 {
background: '#9466FF';
width: 79px;
height: 27px;
}